body {
background-color: azure;
text-align: justify;


}
a:hover{
    color: green;
}
.adjust-line-height{

    line-height: 1em;
}
h1 {
    text-align: center;
}
#personal {
    text-align: center;
}
#nav-bar{
    
}

#nav-port {
    
        text-align: left;
        font-size: x-large;
        
        
    padding: auto;
}
.smaller-image{
    width: 500px;
}