.header1 {
    position: fixed;
   
    z-index: 2;
    width: 100%;
    background: #916c05;
    
    text-align: left;
   
    page-break-after: auto;
    padding-left: 3%;
    border-radius: 0%;
    
    font-size: large;
   
    
  }
  a {
    
    
   
    color: red;
}

   /*The progress container (grey background) */
  .progress-container {
    width: 100%;
    height: 5px;
    background: #E4E4E4;
    margin-left: 0%;
    position: absolute;
  }
  
  /* The progress bar (scroll indicator) */
  .progress-bar {
    height: 10px;
    background: #E4E4E4;
    width: 0%;
  }
body {
background-color: #E4E4E4;
text-align: left;
margin-block-start: 0%;
margin-right: 2%;
text-decoration: none;

}
.container0 {
    margin-left: 0%;
    position:relative;
    background-position: 0%;
    z-index: 2;
    height: 15%;
    
   
    
}
.container1{
    
    background-color: rgb(223, 219, 219);
    border-top: 701em;
    padding-top: 7%;
    position: relative;
    height: 400px;
    margin-right: 3%;
    margin-left: 3%;
    margin-bottom: 0%;
}
.container2{
    background-size: cover;
    background-color: rgb(223, 219, 219);
    position: relative;
    margin-left: 3%;
    margin-right: 3%;
}
.container3{
    background-size: cover;
    background-color: lightsteelblue ;
    position: relative;
    margin-left: 3%;
    margin-right: 3%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}
ul {
    padding-left: 7%;
    padding-right: 20%;
    list-style-type: square;
    
}
#experience {
    font-weight: 550;
    color: black;
    padding-left: 3%;
}

.adjust-line-height{

    line-height: 1em;
}
h1 {
    text-align: center;
    animation: h1 2s ease-in;
    overflow: hidden;
    font-family: 'Pacifico', cursive;
	font-weight:bold;
    font-size: 1.5em;
       
}
h3 {
    text-align: center;
    font-family: 'Pacifico', cursive;
}
h4{
    color: #fff;
	font-family: 'Pacifico', cursive;
	font-weight:bolder;
    font-size: 1.8em;
    text-decoration: none;
    
}
h2 {
    padding-left: 1%;
}
@keyframes h1  {
    0% { 
        font-size: 0em;
    }
    100% { font-size: 2.5em;

    }
}
@keyframes span  {
    0% { 
        font-size: 1.5em;
    }
    100% { font-size: 2.5em;

    }
}
#personal {
    
}
/* ---nav section---*/
#nav-bar{
    
}

#nav-port {
    
        text-align: right;
        font-size: 1.2em;
        padding-top: 0.5%;
       
    padding-left: 35%;
    padding-right: 0.2%;
}

.navbar-title {
    color: #fff;
	font-family: 'Pacifico', cursive;
	font-weight:bold;
    font-size: 1.5em;
    text-decoration: none;
    text-shadow: #916c05;
    
}
.smaller-image{
    width: 30%;
    border-radius: 10%;
    padding-left: 10em;
    padding-right: 10em;
}
footer {
    padding-left: 7%;
}

}
/* tool tip will not be applied presently */
/*.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted lightgray;
  }
  
  .tooltip .tooltiptext {
    visibility: visible;
    width: 120px;
    background-color: whitesmoke;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: small;
  
    /* Position the tooltip 
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;*/
  }
  /*color: #fff;
	font-family: 'Pacifico', cursive;
	font-weight:400;*/